{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}

<div id="GCoptions"></div>

<!-- Google Calendar iframe paste below, add name="calendar" -->
<iframe name="calendar" src="https://calendar.google.com/calendar/embed?title=Student%20Senate%20GBMs%20and%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=4eoefqf7go262jidm62lk32qdk%40group.calendar.google.com&amp;color=%23B1365F&amp;src=ntu38bqifqcec3jlo3deiepag8%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border: 0; height:600px; width:800px;" frameborder="0" scrolling="no"></iframe>



{% endblock %}
